body{
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(3, 3, 116));
    font-family: 'Oswald', sans-serif;
    color:aliceblue
}
.contenedor_titulo {
    display: flex;
    justify-content: center;
}

.imagen{
    height: 250px;
    width: 250px;
    
}

.flexPadre {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.titulo {
    font-size: 32px;
}

.logodelsitio{
    width: 200px;
    
}

.flexPadre {
    flex-direction: row;
    padding: 15px;
    background-image: url(https://img.freepik.com/free-vector/gradient-dynamic-purple-lines-background_23-2148995757.jpg);
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    border-radius: 5%;
}

.flex_peliculas_populares{
    display: flex;
    justify-content: center; 
    align-items: center;
    
}

 .barbie {
    width: 200px;
    height: 200px;
    
}

.toystory{
    width: 200px;
    height: 200px;
}

.logodelsitio {
    order: 1;
    align-self: flex-start;
}

.search {
    order: 2;
    align-self: flex-start;
    margin: 30px;
}

.menu {
    order: 3;
    align-self: flex-start;
    margin: 30px;
}


.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
  }
  
  .menu li {
    margin-right: 30px; 
  }
  
  .menu a {
    text-decoration: none; 
    color: #FFFFFF; 
    font-weight: bold; 
  }
  
  .menu a:hover {
    color: #ff9900;
}

.toystory {
    height: 200px;
    width: 200px;
    display: inline-block;
    transform: scale(1);
    transition: transform 0.2s; 
    }
.toystory:hover{
        transform:scale(0.9);
    }

.barbie {
        height: 200px;
        width: 200px;
        display: inline-block;
        transform: scale(1);
        transition: transform 0.2s; 
        }
.barbie:hover{
            transform:scale(0.9);
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }
        
        footer {
            background-color: white;
            color: black;
            
            margin-top: auto; 
            text-align: center;
        }
        
        .footer-content {
            display: flex;
            justify-content: space-between;
            align-items: center; 
        }
        
        .footer-content h2 {
            font-size: 19px;
        }
        
        