body{
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(3, 3, 116));
    font-family: 'Oswald', sans-serif;
    color:aliceblue
}

.logodelsitio{
    width: 200px;
    
}
.TMDB{
    align-self: center;
    height: 20px;
}
h2{
    color: aliceblue;
    text-align: center;
    font-size: 30px;
}
.flexPadre {
    flex-direction: row;
    padding: 15px;
    background-image: url(https://img.freepik.com/free-vector/gradient-dynamic-purple-lines-background_23-2148995757.jpg);
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    border-radius: 5%;
    
}

.portada {
    height: 180px;
    width: 120px;
display: inline-block;
transform: scale(1);
transition: transform 0.2s; 
margin: 5px;
}

.portada:hover{
    transform:scale(0.9);
}



.logodelsitio {
    order: 1;
    align-self: flex-start;
}

.search {
    order: 2;
    align-self: flex-start;
    margin: 30px;
}

.menu {
    order: 3;
    align-self: flex-start;
    margin: 30px;
}


.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
  }
  
  .menu li {
    margin-right: 30px; 
  }
  
  .menu a {
    text-decoration: none; 
    color: #FFFFFF; 
    font-weight: bold; 
  }
  
  .menu a:hover {
    color: #ff9900;
}